
.tab-content-container {
    width: 100%;
    height: 100%;
    padding: 40px 20px 20px 40px;
}

//Input fields
.item-inner {
    width: 40%;
    height: 42px;
    background: #fff;
    color: #000;
    border: 1px solid #94a5b5 !important;
    // margin: 0 auto;
    display: flex;
    align-items: center;

    .input-wrapper {
        width: 100%;
        height: 100%;
        display: inline-block;
        // background: red;
        display: flex;
        align-items: center;
        font-size: 14px;
    
        .select-with-search {
            background: #fff;
            width: 100%;
            border:none;
            outline: none;
            cursor: pointer;
        }
    
        input[type="text"] {
            width: 100%;
            border: none;
            outline: none;
        }
    
        .simple-select {
            border: none;
            padding-right: 10px;
        }
    
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        
        .inputfile + label {
            width: 100%;
            font-size: 14px;;
            color: rgb(0, 0, 0);
            background-color: #fff;
            display: inline-block;
            // border: 1px solid #000;
            border: none;
            cursor: pointer;
            font-weight: normal !important;
        }
    }   
}

//simple select arrow icon 
::ng-deep .mat-select-arrow {
    color: rgb(0, 0, 0) !important;
}
// 

//For all labels except image upload
label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    padding: 5px;
    margin: 3px;
}

//For all pictures
.fa {
    font-size: 16px;
    margin: 10px;
}

//For select with search arrow image
#select-arrow {
    cursor: pointer;
}

// ""
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    color: #ef8377;
}

* {
    font-family: 'OpenSans', sans-serif;
}

.submit-buttons {
    background-color: #66727e;
    border: none;
    width: 120px;
    height: 32px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

// CONFIGURATION TAB GRID
.col-md-9 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.col-md-1 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.col-md-2 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

// PROPORTIONAL SIZE 
canvas {
    display: block;
    max-width:90%;
    max-height:100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.example-container {
    height: 400px;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  
  table {
    box-shadow: none !important;
    width: 100%;
  }