<!-- <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" mat-align-tabs="center" (selectedIndexChange)="selected.setValue($event)"> -->
<mat-tab-group #tabGroup [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)"
    (selectedTabChange)="tabChanged($event)">

    <!-- FIRST TAB -->
    <mat-tab label="GENERAL">
        <div class="tab-content-container">
            <!--------------------- TITLE INPUT FIELD ---------------------->
            <div class="item-inner">
                <label>Title:</label>
                <!-- <sup class="requiredFields">✽</sup> -->
                <div class="input-wrapper">
                    <input type="text" id="name">
                </div>
                <i class="fa fa-pencil"></i>
            </div>
            <br>
            <!--------------------- LOCATION SELECT WITH SEARCH --------------------->
            <div class="item-inner">
                <label>Location:<sup class="requiredFields">✽</sup></label>
                <div class="input-wrapper">
                    <input matInput [matAutocomplete]="auto" [formControl]="locationCtrl" class="select-with-search"
                        onfocusout="">

                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let location of filteredLocations | async" [value]="location.viewValue">
                            {{location.viewValue}}
                        </mat-option>
                    </mat-autocomplete>

                    <i class="fa fa-caret-down" aria-hidden="true" id="select-arrow"></i>
                </div>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <br>
            <!--------------------- FLOOR SELECT --------------------->
            <div class="item-inner">
                <label>Floor:<sup class="requiredFields">✽</sup></label>
                <div class="input-wrapper">
                    <mat-select class="simple-select">
                        <mat-option *ngFor="let location of locations" [value]="location.value" class="a">
                            {{location.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <br>
            <!---------------------- PLAN PICTURE UPLOAD --------------------->
            <div class="item-inner">
                <label>Plan:<sup class="requiredFields">✽</sup></label>
                <div class="input-wrapper">
                    <input type="file" name="file" id="file" class="inputfile" (change)="fileEvent($event)"
                        accept="image/*" />
                    <label for="file" id="file-input-label">{{inputFileLabel}}</label>
                </div>
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
            <br>
            <button class="submit-buttons" (click)="afterGeneralInfoSubmit()">UPLOAD</button>
        </div>
    </mat-tab>

    <!-- SECOND TAB -->
    <mat-tab label="CONFIGURATION">

        <!-- Left side-->
        <div class="col-md-1">

        </div>

        <!-- Middle-->
        <div class="col-md-9">
            <canvas id="plan-configuration-tab-canvas">
                Your browser does not support the canvas element.
            </canvas>
        </div>

        <!-- Right side-->
        <div class="col-md-2">

            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                
            </div>
        </div>

    </mat-tab>

</mat-tab-group>