.top-toolbar {
    min-height: 0;
    height: 45px;
    background-color: #94a5b4;
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    align-items: center;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 20px/0px Roboto,"Helvetica Neue",sans-serif;
    margin: 0;
}

.top-toolbar-btns button {
    background-color: #66727e;
    border: none;
    width: 120px;
    height: 32px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

#add-button {
    margin-left: 10px;
    color: #fff; 
    background-color: #ef8377;
}

.toolbar-search-box {
    background-color: #66697a;
    width: 100%;
    height: 32px;
    position: relative;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 1px;

    input[type="text"]{
        background: #66697a;
        border: none;
        border-bottom: 1px solid #fff;
        width: 95%;
        height: 90%;
        padding: 10px;
        box-sizing: border-box;
        color: #fff;
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: #fff;
        font-weight: bold;
    }

    .fa-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #fff;
   }
}