<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <mat-toolbar class="top-toolbar">
    <div class="top-toolbar-btns">
      <button>Filter</button>
      <button>Category</button>
    </div>

    <div class="toolbar-search-box">
      <input type="text" placeholder="Search" autocomplete="off" autocorrect="off" spellcheck="false">
      <i class="fa fa-search"></i>
    </div>

    <div class="top-toolbar-btns">
      <button id="add-button" (click)="showSlideMenu()">Add</button>
    </div>

  </mat-toolbar>

</body>

</html>