<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      position="end">
      <!-- nav content here -->
      <mat-toolbar>Toolbar</mat-toolbar>
    </mat-sidenav>
    <ng-content></ng-content>
  </mat-sidenav-container>
  sadsfsfsdf