<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-slide-menu-with-tabs>
  <app-top-toolbar></app-top-toolbar>
  <!-- <app-plan-config></app-plan-config> -->
</app-slide-menu-with-tabs>

<app-plan-config></app-plan-config>
