.sidenav-container {
    height: 100%;
  }
  
.sidenav {
  width: 450px;
  background: inherit;
}

// Header tabs icons 
.fa {
  color: rgb(8, 8, 8);
}

.form-footer {
  background-color: #524d63;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: absolute;  

  button {
    border-radius: 0;
    font-size: 14px;
    text-transform: capitalize;
    width: 100px;
    height: 32px;
    font-weight: bold;
    color: #fff;
    background-color: #ef8377;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px -1px rgb(0, 0, 0);
    float: right;
    margin-top: 7px;
    margin-right: 10px;
  }
}

// .form-header {
//   min-height: 0;
//   height: 45px;
//   background: #524d63;
//   font-size: 15px;
//   font-family: 'OpenSans', sans-serif;
//   color: #ffff;
// }
