<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" position="end">
      <!-- nav content here -->
      <!-- <mat-toolbar class="form-header"> -->

          <mat-tab-group [selectedIndex]= 0>
              
              <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                </ng-template>
                TAB-1
              </mat-tab>
            
              <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                </ng-template>
                TAB-2
              </mat-tab>
            
            </mat-tab-group>
            
      <!-- </mat-toolbar> -->
      <div class="form-footer">
        <button (click)="closeSlideMenu()">Cancel</button>
      </div>
    </mat-sidenav>
    <ng-content></ng-content>
  </mat-sidenav-container>

</body>
</html>